Options -Indexes

RewriteEngine on

# ErrorDocument 404 /error.php

# Site
# RewriteRule ^soldiers/monshaur/?$ monshaur.html [QSA,L]
# RewriteRule ^soldiers/barnes/?$ barnes.html [QSA,L]

RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]

RewriteRule ^dashboard/?$ app/controller/siteController.php?action=dashboard [QSA,L]

RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]

RewriteRule ^login/process/?$ app/controller/siteController.php?action=loginProcess [QSA,L]

RewriteRule ^register/process/?$ app/controller/siteController.php?action=registerProcess [QSA,L]

RewriteRule ^add/process/?$ app/controller/siteController.php?action=addProcess [QSA,L]

RewriteRule ^logout?$ app/controller/siteController.php?action=logout [QSA,L]

RewriteRule ^register?$ app/controller/siteController.php?action=register [QSA,L]

RewriteRule ^addFamilyMember/?$ app/controller/siteController.php?action=addFamilyMember [QSA,L]


RewriteRule ^search/?$ app/controller/siteController.php?action=search [QSA,L]

RewriteRule ^viewfamily/?$ app/controller/siteController.php?action=viewfamily [QSA,L]

RewriteRule member/view/(\d+)/?$ app/controller/memberController.php?action=view&id=$1 [QSA,L]